footer {
	background-image: url(../images/gallery/logo_white.png);
	text-align: center;
	padding: 40px;
	margin-bottom: 0;
	background-repeat: no-repeat;

	.white {
		color: $white;
	}
	.footer-nav {
		margin: 40px 0;
		cursor: pointer;
		ul {
			list-style: none;

			li {
				display: inline-block;
				margin: 0 15px;
				padding: 5px 0;
				a {
					font-size: 14px;
					font-weight: 600;
					text-transform: uppercase;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}

@media (min-width: 500px) {
}
